body{
    background-image: url("background.jpg");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    font-size: 15px;
}

.container{
    width: 800px;
    margin: auto;
    margin-top: 30px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3%;
    padding:50px;
}

.logo{
    width:150px;
    height: auto;
}

.logo-text{
    font-family: 'Times New Roman', Times, monospace;
    font-size:25px;
    display: inline-block;
    color: rgba(95, 255, 47, 0.808);
}

#button{
    background-color: rgba(95, 255, 47, 0.808);
    padding:5px;
}

.subject{
    color:white;
}

.row{
    margin-top: 15px;
}

#carica1{
    background-color: lightsalmon;
    padding:5px;
    width: 300px;
    height: 12px;
    border-radius: 5%;
}

#carica2{
    background-color: rgb(84, 170, 23);
    padding:5px;
    width: 500px;
    height: 12px;
    border-radius: 5%;
}

#carica3{
    background-color: rgb(194, 74, 37);
    padding:5px;
    width: 140px;
    height: 12px;
    border-radius: 5%;
}

.monop{
    font-size: 20px;
    font-weight: bold;
}